/* Font import Nunito and Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customize-section-color {
  background-color: var(--section-color);
}

/* VARIABLES START -----------------*/
:root {
  --primary-color: #5FB1BF;
  --secondary-color: #EA7B3B;
  --section-color: #171717;
  --header-font-family:  "Nunito", serif;
  --header-font-weight: 600;
  --subheader-font-weight: 400;
  --body-font-family: "Inter", serif;
}
/*  VARIABLES END -----------------*/

body {
  background-color: #F7F8FF;
}
/* GLOBAL CSS START -----------------*/
h1 {
  font-size: 4.5rem;
  text-shadow: 1px 2px 5px #171717;
  color: white;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
}

h2 {
  font-size: 3rem;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  color: var(--primary-color);
}

h3 {
  font-size: 1.6rem;
  font-family: var(--header-font-family);
  font-weight: var(--subheader-font-weight);
  letter-spacing: 0.5px;
}

h4 {
  font-family: var(--body-font-family);
}

p, ul{
  line-height: 25px;
  letter-spacing: 0.3px;
  font-family: var(--body-font-family);
  font-size: 0.9rem;
}

img {
  border-radius: 3px;
}

button {
  display: flex;
  padding: 0.5rem 3rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  border-radius: 3px;
  border: none;

}
button a {
  text-decoration: none;
}

/* two grid layout */
.two-column-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;

}

/* Page Header */
.header-section {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}


.mission-statement-home-header {
  font-size: 2rem;
}
/* SubNav css  */
.subnav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3); 
  -webkit-box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3);
  -moz-box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3);
}

.subnav-container li {
  list-style: none;
  text-transform: uppercase;
}

/* Four colum grid style */
.four-column-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  place-items: center;
}

.paw-point-icon {
  font-size: 2rem;
  color: var(--secondary-color);
}

/* GLOBAL CSS END -----------------*/


/* Navbar Css Starts*/
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.25rem;
  align-items: center;
}

nav .navbar-links {
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
  align-items: center;
} 

nav .navbar-links button{
  text-transform: uppercase;
}

.nav-logo {
  height: 30px;
}

.nav-logo img {
  height: 40px;
}
/* Navbar Css Ends*/

.navbar-links li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-family: var(--header-font-family);
  font-weight: var(--subheader-font-weight);
}

.navbar-links li a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  transition: width .5s;
}

.navbar-links li a:hover::after {
  width: 100%;
}

.navbar-links li a.active-link::after {
  width: 100%; 
}

/* Header Section Css Starts */

/* Home header */
.home-header-section {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 500px;
  position: relative;
  margin-bottom: 8rem;
  background-position: center;
  background-size: cover;
}

.home-header-section h1 {
  padding-left: 3rem;
}

.home-header-core-values-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-auto-rows: auto; 
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -8rem;
  padding: 3rem;
  place-items: center;
}

.home-header-core-value {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  text-transform: uppercase;
  border-radius: 3px;
  align-self: center;
  box-shadow: 0px 4px 18px -8px rgba(23,23,23,0.66);
  -webkit-box-shadow: 0px 4px 18px -8px rgba(23,23,23,0.66);
  -moz-box-shadow: 0px 4px 18px -8px rgba(23,23,23,0.66);
}

.core-value-icon {
  font-size: 2.5rem;
  height: 50%;
}

/* HEADER Section Css Ends */


/* HOME Css Starts */
/* descriptoon section  */

.huha-home-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.huha-description {
  width: 100%;
  display: flex;
  gap: 5rem;
  padding: 0 3rem;
}

.left-text-huha-description {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.right-img-huha-description {
  width: 50%;
  height: auto;
  background-image: url(/other-imgs/home-imgs/info-header-img.webp);
  background-position: center;
  background-size: cover;
}

/* FOUR CARD sections includes Advice and main features before and after campaign */
.four-card-sections {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 0 3rem;
}

.home-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 3px;
  box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3); 
  -webkit-box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3);
  -moz-box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3);
  padding: 1rem;
  background-color: white;
}

.home-card a button {
  width: 100%;
}

.home-card-img {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.home-advice-card:nth-child(1) .home-card-img {
  background-image: url(/other-imgs/home-imgs/injuredanimal-img.webp);
}

.home-advice-card:nth-child(2) .home-card-img {
  background-image: url(/other-imgs/home-imgs/home-rehome-img.webp);
}

.home-advice-card:nth-child(3) .home-card-img {
  background-image: url(/other-imgs/home-imgs/lostanimal-img.webp);
}

.home-advice-card:nth-child(4) .home-card-img {
  background-image: url(/other-imgs/home-imgs/abused-img.webp);
}

.home-main-features-card:nth-child(1) .home-card-img {
  background-image: url(/header-bg-imgs/adopt-imgs.webp)
}

.home-main-features-card:nth-child(2) .home-card-img {
  background-image: url(/header-bg-imgs/donation-img.webp);
}

.home-main-features-card:nth-child(3) .home-card-img {
  background-image: url(/header-bg-imgs/support-volunteer-img.webp);
}

.home-main-features-card:nth-child(4) .home-card-img {
  background-image: url(/header-bg-imgs/adopt-img.webp);
}
/* FOUR CARD sections includes Advice and main features before and after campaign   ENDS*/

/* Campaign Component Css Starts */
.campaign-section {
  height: auto;
}

.campaign-card{
  width: 100%;
  padding: 3rem;
  display: flex;
  gap: 5rem;
}
.left-img-campaign-description {
  width: 50%;
  height: auto;
  background-color: blue;
}

.right-text-campaign-description {
  width: 50%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* Sponsors CSs Section */
.home-sponsor-container {
  width: 100%;
  padding: 0 3rem;
  align-items: center;
}

.sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sponsor-boxes-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  place-items: center;
  text-align: center;
}

.sponsor-boxes-container img{
  width: 150px;
  object-fit: contain;
  object-position: center;

}

/* HOME Css Ends */

/* About Page Css Starts */
.subnav-section-container{
  padding: 3rem 3rem 3rem 3rem ;
  width: 100%;
}

/* Our purpose section */
.purpose-about-container {
  display: flex;
  gap: 5rem;
}

.purpose-img-left-container{
  background-image: url(/other-imgs/about-purpose-img.webp);
  width: 50%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.purpose-text-right-container{
  width: 50%;
}

/* What we do Section */
.what-about-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.what-single-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;

}

.what-single-card button{
  margin-top: auto; 
}

/* what modal content css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 23, 23, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #171717;
  padding: 4rem;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  position: relative;
  color: #F7F8FF;
}

.close-modal-button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
  position: absolute;
  padding: 0;
  top: 1rem;
  right: 1rem;
  font-size: 5rem;
}

.close-modal-button:hover {
  opacity: 50%;
}

.trustee-modal {
  display: flex;
  gap: 5rem;
}

.trustee-modal-img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

/* support modal */
.support-animal-modal {
  background: #171717;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-height: 80vh;  /* Adjust this based on your desired max height for the modal */
  position: relative;
  overflow: hidden; 
}

.support-animal-grid-container {
  overflow-y: auto;  /* Allow vertical scrolling when content exceeds the available height */
  padding-right: 10px;
}

/* history section */
.history-about-section {
  display: flex;
  gap: 5rem;
}

.left-descript-history-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-points-history-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 1.3rem;
  align-items: flex-start;
  place-items: left;
}

.single-point-history {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  gap: 1rem;
}

/* Trustee section */
.trustee-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.trustee-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 3px;
  background-color: aqua;
}

.trustee-img {
  max-height: 250px; 
  overflow: hidden; 
  border-radius: 3px;
}

.trustee-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

/* Our IMpact page css */
.impact-about-container {
  display: flex;
  width: 100%;
  gap: 5rem;
}

.impact-img-left-container {
  width: 50%;
  background-image: url(/other-imgs/home-imgs/info-header-img.webp);
  background-position: center;
  background-size: cover;
}

.impact-text-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Diasaster Response section */
.impact-stories-box-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.impact-stories-container h2{
  color: white;
  font-size: 4rem;
}

.impact-stories-container h4 {
  color: rgba(255, 255, 255, 0.876);
  font-family: var(--header-font-family);
  font-weight: var(--subheader-font-weight);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  width: 70%;

}
.impact-stories-card h3{
  font-size: 2rem;
  font-weight: var(--subheader-font-weight);
  text-transform: uppercase;
}

.impact-stories-card {
  color: white;
}
/* welfare reform section */
/* animal rescue section */
/* animal exploitation section */
/* education section */

/* Support Page Css */
/* Volunteering section책 */
.volunteering-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-volunteering-section {
  display: flex;
  gap: 5rem;
}

.top-img-volunteering-container {
  background-image: url(/header-bg-imgs/support-volunteer-img.webp);
  width: 50%;
  height: auto;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.top-descript-volunteering-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.middle-volunteering-section {
  display: flex;
  gap: 5rem;
  width: 100%;
}

.middle-points-volunteering-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.middle-descript-volunteering-container {
  width: 50%;
}

.bottom-volunteer-option-container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Fundraise section책 */
.fundraise-section {
  display: flex;
  width: 100%;
  gap: 5rem;
}

.left-descript-fundraise-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.left-descript-fundraise-container ul{
  line-height: 2rem;
  padding-left: 3rem;
}

.left-descript-fundraise-container button{
  width: 100%;
}

.right-img-fundraise-container {
  width: 50%;
  background-image: url(/other-imgs/fundraise-img.webp);
  background-position: center;
  background-size: cover;
}

/* Support section책 */
.support-animal-container {
  display: flex;
  gap: 5rem;
}

.left-descript-support-animal {
  width: 50%;
}

.right-button-support-animal {
  width: 50%;
}

.right-button-support-animal  button{
  width: 100%;
  margin-top: 2rem;
}

/* ???????? */
.top-support-card {
  width: 100%;
}

.top-support-card button {
  width: 100%;
}
/* ???????? */

.animal-card img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.animal-card {
  color: #F7F8FF;
}

/* Help section책 */

.help-support-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.help-support-intro {
  display: flex;
  gap: 5rem;
}

.left-help-support-intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

.right-help-support-intro {
  width: 50%;
  height: 100%;
  align-self: end;
}

.right-help-support-intro button{
  width: 100%;
  margin-top: 1rem;
}

.middle-rehome-support-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.middle-rehome-support-container button {
  width: 100%;
  margin-top: 2rem;
}

.information-middle-rehome-container {
  display: flex;
  width: 100%;
  gap: 5rem;
}

.left-middle-rehome-container, .right-middle-rehome-container, .left-bottom-disaster-container, .right-bottom-disaster-container {
  width: 50%;
}

.left-middle-rehome-container ul{
  margin-left: 2rem;
}

.bottom-disaster-support-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.information-bottom-disaster-container {
  display: flex;
  gap: 5rem;
}

.right-two-buttons-bottom-disaster-container {
  width: 100%;
  display: flex;
}

.right-two-buttons-bottom-disaster-container button{
  width: 100%;
}

/* bequest section */
.top-bequest-container {
  display: flex;
  gap: 5rem;
}

.top-left-bequest-container {
  width: 50%;
    height: 100%;
}

.top-left-img-bequest{
  background-image: url(/header-bg-imgs/support-volunteer-img.webp);
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
}

.top-right-bequest-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.middle-bequest-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.middle-bequest-container h2 {
  margin-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

.bequest-option-container {
  text-align: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons-middle-bequest-container {
  width: 100%;
}

.top-two-buttons-bequest-container  {
  display: flex;
  width: 100%;
}


/* Footer Css Starts*/
footer {
  display: flex;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3); 
  -webkit-box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3);
  -moz-box-shadow: 10px 4px 18px -8px rgba(23,23,23,0.3);
  color: #F7F8FF;
}

footer .footer-contact {
  text-align: right;
}

/* Footer Css Ends*/

